.nav {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 10vh;
  background-color: var(--black);
  color: white;
}
.nav h1 {
  font-family: Impact, "Haettenschweiler", "Arial Narrow Bold", sans-serif;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  float: left;
  margin: 0;
  padding: 0 0 0 2%;
  width: 48%;
  height: 100%;

  animation: fadeInAnimation ease 5s 
}
.menu-icon{
  display: none;
}
.menu {
  display: flex;
  align-items: center;
  float: right;
  width: 50%;
  height: 100%;

  animation: fadeInAnimation ease 2s 
}
ul {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 50%;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
  list-style: none;
  font-weight: 800;
  padding: 2px;
}
a:hover {
  color: var(--color);
}

@media only screen and (max-width: 800px) {
  .nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .nav h1{
    padding: 0 0 0 5vw;
    font-size: 150%;
    width: 75vw;
  }
  .menu{
    display: flex;
    width: 100vw;
    height: 5vh;
    justify-content: center;
    background-color: var(--black);
    animation: none;
  }
  .menu-placeholder{
    height: 5vh;
  }
  .menu ul{
    width: 90vw;
    height: fit-content;
    justify-content: space-between;
  }
  .menu-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 100%;
    animation: fadeInAnimation ease 5s 
  }
  .menu-icon img{
    height: 3vh;
  }
}