:root {
  --black: #3c3c3c;
  --font: #222222;
  --hellgray: #f7f7f7;
  --color: #ffd027;
}

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
} 

body {
  margin: 0;
  padding: 0;
}
